.verify {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #bdbdbd;
    border-top-color: #2e7d32; /* Aapka Zayka WAY green theme */
    border-radius: 50%;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.verify p {
    font-size: 18px;
    font-weight: 500;
    color: #444;
}